.stickyBar {
  position: -webkit-sticky;
  position: sticky;
  top: -2px;
}

.progress {
  box-shadow: white 0 0 7px;
}

header.breadCrumbs {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  display: none;
}

h1 {
  font-size: 42px;
  font-weight: bolder;
}

h2 {
  font-size: 40px;
  text-align: center;
  font-weight: bolder;
}

.imgKael {
  border-radius: 10%;
  width: 100%;
  max-width: 300px;
}

.AboutMe {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.AboutMe h2{
  width: 100%;
  text-align: center;
}

.socialMedia {
  display: flex;
  flex-direction: row;
  padding: 10px 0;
  justify-content: space-around;
  width: 200px;
}

.socialMedia a {
  color: white;
}

.socialMedia__icon {
  font-size: 20px;
}
.socialMedia__icon:hover {
  box-shadow: white 0 0 10px;
}

.AboutMe p {
  max-width: 500px;
}
/*
.myCurriculumVitae {
  display: flex;
  flexdirection: column;
}*/

.portfolio_section {
  background-color: #e5097f;
  box-shadow: white 0 0 10px;
}
.curriculum_vitae_section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.curriculum_vitae_section a{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  max-width: 300px;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 10px;
  padding: 10px;
  margin: 10px 10px 10px 0px;
}

.contact_section {
  background-color: #21c3b0;
  box-shadow: white 0 0 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.contentForm {
  display: flex;
  justify-content: center;
}

form.contactForm {
  display: flex;
  flex-direction: column;
  width: 300px;
  align-items: center;
}

input#email:hover, input#email:active, input#email:target  {
  border-color: #e5097f;
}

/*
textarea#message {
  width: 100%;
  max-width: 200px;
  border-radius: 5px;
  min-height: 200px;
  margin: 5px 0px;
  padding: 10px;
}*/

button[type="submit"] {
  max-width: 100px;
  margin-top: 20px;
  color: white;
  background-color: transparent;
  border: 1px solid white;
  padding: 10px;
  border-radius: 10px;
}

button[type="submit"]:hover {
  font-weight: bolder;
  text-shadow: white 0 0 10px;
  box-shadow: white 0 0 10px;
  cursor: pointer;
}

.tags {
  max-width: 500px;
  padding: 20px 0px;
}

.table td a {
  color: #3366BB  ;
}

.table {
  border-radius: 10px;
  margin: 20px 0px;
}
