.App {
  display: flex;
  flex-direction: column;
  background-color: salmon;
  background: linear-gradient(to right,#e5097f, #21c3b0);/*#21C08B, #AB88FF*/
  width: 100%;
  height: 100%;
  min-height: 100vh;
  color: white;
}


body {
  width: 100%;
}

main {
  width: 100%;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 0 10px;
  color: #00000099;

  background-color: white;
  z-index: 1;
  box-shadow: 0 3px 6px rgba(255,255,255,255.16), 0 3px 6px rgba(255,255,255,255.23);
}


.notificationList {
  position: absolute;
  top: 10px;
}

.notificationIcon {
  font-size: 20px;
}
.notificationIcon:hover {
  cursor: pointer;
  filter: drop-shadow(0px 0px 10px white);
  box-shadow: white 0 0 10px;
  border-radius: 100%;
}
